/* CartModal.css */

.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure position is set to relative */
}

.cart-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.cart-modal-list {
  list-style: none;
  padding: 0;
}

.cart-modal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-modal-item-entity {
  display: flex;
  align-items: center;
}

.cart-modal-item-entity img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.reduce,
.remove {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.remove {
  background-color: #ff9800;
  margin-left: 5px;
}

.cart-modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.cart-modal-place-order {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
